{{extend 'layout.html'}}

{{if form:}}
<h4>
    Cancel a Reservation
</h4>
{{=form}}
{{pass}}
<br/>
<br/>
<h3>
    My reservations
</h3>
{{if len(grid)!=0:}}
<table class="table table-bordered table-condensed">
    <tr>
        <th>
            <h5>
                Borrowal Id
            </h5>
        </th>
        <th>
            <h5>
                Book Number
            </h5>
        </th>
        <th>
            <h5>
                Book Name
            </h5>
        </th>
        <th>
            <h5>
                Reserved Date
            </h5>
        </th>
        <th>
            <h5>
                Supposed Due Date
            </h5>
        </th>
    </tr>
{{for row in grid:}}
    <tr>
        <td>
        {{=row.id}}
        </td>
        <td>
        {{=row.book_number}}
        </td>
        <td>
        {{=row.book_name}}
        </td>
        <td>
        {{=row.Date_of_Issue}}
        </td>
        <td>
        {{=row.Due_Date}}
        </td>
    </tr>
{{pass}}
</table>
{{else:}}
You have no pending reservations
{{pass}}
