{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<h3>
    Books in Library
</h3>
{{if len(rows1)!=0:}}
<h4>
    Reference Books
</h4>
<ul>
{{for item in rows1:}}
<li>
{{=A(item.book_name,_href=URL('default','view',args=item.book_number))}}
</li>
{{pass}}
</ul>
{{pass}}
<br />
{{if len(rows2)!=0:}}
<h4>
    Normal Books
</h4>
<ul>
{{for item in rows2:}}
<li>
{{=A(item.book_name,_href=URL('default','view',args=item.book_number))}}
</li>
{{pass}}
    </ul>
{{pass}}
<br />
{{if len(rows3)!=0:}}
<h4>
    Journals
</h4>
<ul>
{{for item in rows3:}}
<li>
{{=A(item.book_name,_href=URL('default','view',args=item.book_number))}}
</li>
{{pass}}
    </ul>
{{pass}}
<br />
{{if len(rows4)!=0:}}
<h4>
    Magazines
</h4>
<ul>    
{{for item in rows4:}}
<li>
{{=A(item.book_name,_href=URL('default','view',args=item.book_number))}}
</li>
{{pass}}
</ul>
{{pass}}
