{{
left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())
}}
{{extend 'layout.html'}}

<h3>
    Books in Library
</h3>
{{for category in categories:}}
<table class="table-hover table-condensed">
{{if results[category]:}}
    <thead>
    <tr>
        <th class=".active">
        <h4>{{=category}}</h4>
        </th>
    </tr>
    </thead>
    <tbody>
    {{for item in results[category]:}}
    <tr>
        <td>
        {{=A(item.book_name,_href=URL('default','view',args=item.book_number))}}
        </td>
    </tr>
    {{pass}}
    </tbody>
</table>
{{pass}}
{{pass}}