img {
    float: right;
}

header {
    background-size: cover;
    background-image: url('../images/footer.jpg');
    /*height:109px;*/
    color: #fff137;
    text-align: center;
}
header small{
    color: white;
}

#myid {
    position: fixed;
    width: 100%;
}

footer {
    color: white;
    font-size: medium;
    font-family: Monaco, serif;
    text-align: center;
    background: transparent url('../images/header.jpg');
    background-size: contain;
}

footer {
    bottom: 0;
    /* Height of the footer */
}
